body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 12pt;
  color: black;
  background-color: ivory;
}
h1 {
  text-align: center;
  font-size: 16pt;
}
.menu {
  background-color: bisque;
  margin: 20pt;
  padding: 15px;
}