body {
    font: 15px Helvetica, sans-serif;
}

header {
    font:175% blue;
    margin: 50px 20px 30px 20px;
    text-align: center;
}
.container {
    font-size:125%;
    position: relative;
    background-color: antiquewhite;
    border: 2px solid black;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
}
h1{
    float: right;
    margin: 0px 0px 0px 0px;
    padding: 2px 2px 2px 2px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    position: top right; 

}
p {
    text-align: justify;
    padding: 0px 15px 15px 15px;
    margin: 0px 0px 0px 0px;
    clear:right;
}

/*mobile*/
@media (max-width: 767px){
    .container {
        margin: 15px 15px 15px 15px;
    }
}

/*tablet*/
@media (min-width: 768px) and (max-width: 991px){

}

/*desktop*/
@media (min-width: 992px){

    .container {
        width: 30%;
        float: left;
        margin: 15px 15px 15px 15px;
    }

}